@page "/"

<h2>Start your Joy Journey here!</h2>

<p>Focus on the positive side of life. What made you smile today? What brought joy in your life?
    Who are the important persons in your life?
</p>
<p>
    Start a habit of showing gratitude for the good things in your life.
</p>