@page "/journal"
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@using JoyJourney.Web.Models

@inject JournalApiClient JournalApi

<PageTitle>My Journal</PageTitle>

<h1>Journal</h1>

@if (journalEntries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var entry in journalEntries)
            {
                <tr>
                    <td>@entry.Content</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<JournalEntryDto> journalEntries = [];

    protected override async Task OnInitializedAsync()
    {
        journalEntries = await JournalApi.GetJournalEntriesAsync();
    }
}
