@inherits LayoutComponentBase

<MudThemeProvider Theme="@joyTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <NavMenu />
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style>
    .mud-color-light-test {
        lighting-color: #37D;
        accent-color: #B50;
        background-color: #FC8;
        background-color: #FA5;
        background-color: #D71;
        color: #13F
    }
</style>

@code {
    private MudTheme joyTheme = new MudTheme
    {
        PaletteLight = new PaletteLight
        {
            Primary = "#B50",
            Secondary = "#940",
            Background = "#FC8",
            AppbarBackground = "#FA5",
            AppbarText = "#D71",
            TextPrimary = "#D71",
        },
        Typography = new Typography
        {
            Default = new DefaultTypography
            {
                FontFamily = ["Merriweather, serif"],
                FontSize = "16px",
                FontWeight = "400",
                LineHeight = "1.5"
            }
        }
    };
}